@import "../../_var";

.add-hotel-form {
    --input-label-color: @cTextBlack;
    --input-label-padding-left: 8px;
    --input-label-margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
}
