@import "../../_var";

.add-hotel-form {
    --input-label-color: @cTextBlack;
    --input-label-padding-left: 8px;
    --input-label-margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);

    &__image-preview {
        img {
            display: block;
            max-width: 100%;
            max-height: 400px;
            object-fit: scale-down;
        }
    }

    &__group-item {
        display: flex;
        flex-wrap: wrap;
        gap: var(--grid-gap);
        align-items: center;
    }

    &__item {
        flex-grow: 1;
    }
}
