@import "../_var.less";

.form {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--grid-gap);

    &__item {
        display: flex;
        flex-direction: column;
        gap: var(--m18);
    }
}
