@import "../_var.less";

.calendar-board {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: var(--m30);
    min-height: calc(var(--vh) * 100 - var(--header-height) - var(--m30));

    &__nav {
        display: flex;
        flex-direction: column;
        gap: var(--m16);
        margin: 4px;
        border-radius: 4px;
        padding: 8px;
        background: fade(@cBrand, 70);
    }

    &__title {
        align-self: center;
        font-size: var(--fs24);
        font-weight: 600;
        color: @cWhite;
    }

    &__calendar {
        display: flex;
        margin: 4px;
    }
}

.select-hotel {
    padding: var(--m10) var(--m10);
    background: #a0aec0;
    border-radius: 4px;
    color: @cWhite;

    &__title {
        margin-bottom: var(--m12);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--m8);
    }

    &__item {
        padding: 4px 12px;
        background: fade(#120d48, 60);
        border-radius: 4px;

        &--current {
            background: #6054fa;
        }
    }
}

.rooms-calendar {
    display: flex;
    gap: 20px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 4px;
    padding: var(--m10);

    &__rooms-column {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: var(--m48);
        //background: #6054fa;
        border-radius: 4px;
    }

    &__room {
        height: 40px;
        width: max-content;
        // todo padding-bottom-hack
        //transform: rotate(90deg);
        //padding-bottom: 100%;
    }

    &__dates  {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
    }

    &__date {
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 2px solid @cBordersBlack;
        border-radius: 4px;
    }

    &__date-header {
        text-align: center;
        background: @cBrand;
        padding: 2px;
        color: white;
        border-bottom: 2px solid @cBordersBlack;
    }
}
