@import "../../_var";

.room-calendar-item {
    display: grid;
    grid-template-columns: .7fr repeat(7, 1fr);
    gap: var(--m8);

    &__room-name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
    }

    &__day-load {
        .transit(~'color');
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        padding: 12px 14px;
        box-sizing: border-box;
        border-bottom: 1px solid @cBordersBrand;
        background-color: var(--long-duration-bg-color, @cWhite);
        cursor: pointer;

        .hover({
            .room-calendar-item {
                &__cell-name {
                    border-bottom-color: currentColor;
                }
            }
        }, false, false);

        &--last-in-column {
            border-bottom-color: transparent;
            border-radius: 0 0 4px 4px;
        }

        &--not-approved {
            border: 1px solid red;
            background-image: linear-gradient(-45deg, fade(red, 20%) 25%, transparent 25%, transparent 50%, fade(red, 20%) 50%, fade(grey, 20%) 75%, transparent 75%, transparent) !important;
            background-size: 4px 4px;
        }
    }

    &__cell-name {
        .transit(border-bottom-color);
        border-bottom: 1px solid transparent;
    }

    &__date-header {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 4px;
        min-height: 40px;
        border-radius: 4px 4px 0 0;
        background-color: @cBrand;
        color: @cWhite;
        font-weight: 600;

        &--current {
            background-color: @cBgBrandLight;
        }
    }
}
